{% extends "base.html" %}

{% block content %}
    <!-- Nav Bar -->
    <a href="http://127.0.0.1:8000/">home</a>
    <a href="http://127.0.0.1:8000/venues/">venues</a>
    <a href="http://127.0.0.1:8000/events/">events</a>
    <a href="http://127.0.0.1:8000/events_trails/">events + trails</a>
    <a href="http://127.0.0.1:8000/events_traffic/">events + traffic</a>


    <div class="row image">
    	<div class="col-xs-12 center-xs">
    <a href="/static/images/pinnacle.jpg" data-lightbox="roadtrip" data-title="My caption"><img src="/static/images/pinnacle.jpg"></a><br>
    <div class="thumbnails">
    <a href="/static/images/railyard.jpg" data-lightbox="roadtrip"><img src="/static/images/railyard.jpg" height="100"></a>
    <a href="/static/images/tailgate.jpg" data-lightbox="roadtrip"><img src="/static/images/tailgate.jpg" height="100"></a>
    <a href="/static/images/vega.jpg" data-lightbox="roadtrip"><img src="/static/images/vega.jpg" height="100"></a>
    		</div></div></div>












{% endblock %}
