<!DOCTYPE html>
<html>
  <head>
    <title>Custom Markers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 70%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>


    <!-- Nav Bar -->
    <a href="http://127.0.0.1:8000/">home</a>
    <a href="http://127.0.0.1:8000/trails/">trails</a>
    <a href="http://127.0.0.1:8000/traffic/">traffic</a>
    <a href="http://127.0.0.1:8000/test/">venues</a>

    <!-- Map -->
    <div id="map"></div>
    <script>
      var map;

      function initMap() {

        var lied = {lat: 40.816391, lng: -96.704857};
        var lincoln = {lat: 40.816391, lng: -96.704857};
        var memStadium = {lat: 40.820646, lng: -96.705651};
        var pba = {lat: 40.817934, lng: -96.712625};


        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: lincoln
        });

/*{% for object in locations %}
        var contentString{{ object.id }} = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">{{ object.name }}</h1>'+
            '<div id="bodyContent">'+
            '<p><b>Lincoln</b> is quite the town</p>'+
            '<a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
            'Find out more here</a> '+
            '</div>'+
            '</div>';
{% endfor %}*/

          {% for object in locations %}
            var contentString{{ object.id }} = '{{object.name}}'
          {% endfor %}



        /*var infowindow = new google.maps.InfoWindow({
          content: contentString{{ item.id }}
        });*/

        {% for object in locations %}
          var infowindow{{ object.id }} = new google.maps.InfoWindow({
            content: contentString{{object.id}}
          });
        {% endfor %}

         /*var infowindow1 = new google.maps.InfoWindow({
            content: contentString1
          });
          var infowindow2 = new google.maps.InfoWindow({
            content: contentString2
          });
          var infowindow3 = new google.maps.InfoWindow({
            content: contentString3
          });

/*{% for item in locations %}
        var marker = new google.maps.Marker({
          position: {{ object.lat }}, {{ object.long }},
          map: map,
          title: 'Lincoln'
        });
{% endfor %}*/

        {% for object in locations %}
          var marker{{object.id}} = new google.maps.Marker({
            position: {lat: {{object.lat}}, lng: {{object.longitude}}},
            map: map,
            title: '{{object.name}}'
          });
        {% endfor %}

        /*var marker1 = new google.maps.Marker({
          position: lied,
          map: map,
          title: 'Lied'
        });
        var marker2 = new google.maps.Marker({
          position: memStadium,
          map: map,
          title: 'Stadium'
        });
        var marker3 = new google.maps.Marker({
          position: pba,
          map: map,
          title: 'PBA'
        });*/


        {% for object in locations %}
          marker{{object.id}}.addListener('click', function() {
            infowindow{{object.id}}.open(map, marker{{object.id}});
          });
        {% endfor %}

        /*marker1.addListener('click', function() {
          infowindow1.open(map, marker1);
        });

        marker2.addListener('click', function() {
          infowindow2.open(map, marker2);
        });

        marker3.addListener('click', function() {
          infowindow3.open(map, marker3);
        });*/

      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUFaxmMW_oYTkSwRuohHzarcsJUWGh9l0&callback=initMap">
    </script>

    {% for object in locations %}
      <p>{{object.name}} | {{object.id}}</p>
    {% endfor %}





  </body>
</html>
