




<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map1 {
         height: 100%;
       }


      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map1"></div>

    <script>
      var map1;
      function initMap() {
        map1 = new google.maps.Map(document.getElementById('map1'), {
          center: {lat: 40.816391, lng: -96.704857},
          zoom: 15
        });
      var bikeLayer = new google.maps.BicyclingLayer();
      bikeLayer.setMap(map1);
      }

    </script>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUFaxmMW_oYTkSwRuohHzarcsJUWGh9l0&callback=initMap"
    async defer></script>
  </body>
</html>
