{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Custom Markers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 70%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>


    <!-- Nav Bar -->
    <a href="http://127.0.0.1:8000/">home</a>
    <a href="http://127.0.0.1:8000/venues/">venues</a>
    <a href="http://127.0.0.1:8000/events/">events</a>
    <a href="http://127.0.0.1:8000/events_trails/">events + trails</a>
    <a href="http://127.0.0.1:8000/events_traffic/">events + traffic</a>

    <!-- makes a div for the map -->
    <div id="map"></div>
    <script>

      var map;

      /*initializes the Google Map*/
      function initMap() {

        var lincoln = {lat: 40.816391, lng: -96.704857};

        /*sets the default zoom and map center*/
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: lincoln
        });

        /*determines what content will be in the infowindows*/

          var contentString{{ location.id }} = '{{locations.name}}'


        /*initializes the infowindows and passes content into them*/
          var infowindow{{ location.id }} = new google.maps.InfoWindow({
            content: contentString{{location.id}}
          });

        /*creates markers for each location*/
          var marker{{location.id}} = new google.maps.Marker({
            position: {lat: {{location.lat}}, lng: {{location.longitude}}},
            map: map,
            title: '{{location.name}}'
          });

        /*adds a listener that opens the infowindow when the marker is clicked*/
          marker{{location.id}}.addListener('click', function() {
            infowindow{{location.id}}.open(map, marker{{location.id}});
          });

        }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUFaxmMW_oYTkSwRuohHzarcsJUWGh9l0&callback=initMap">
    </script>

    <!-- displays the location locations and ids at the bottom of the page -->
      <p><a href="{{location.get_absolute_url}}">{{location.name}}</a></p>

  </body>
</html>
{% endblock %}
