<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="/static/css/flexboxgrid.min.css" rel="stylesheet">
<link href="/static/css/traffic.css" rel="stylesheet">
<title>traffic</title>
<link href="/static/css/flexboxgrid.min.css" rel="stylesheet">
    <style type="text/css">
        .red {background-color: red;}
        .blue {background-color: blue;}
        .green {background-color:green;}
    </style>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
    });
    </script>
{% block style %}
{% endblock %}

</head>
<body>
<div class="row header">
<div class="col-xs-12 logo"><img src="/static/images/Lincoln_Outdoors_7.png"></div></div>

<!-- NAV BAR CODE-->
<div class="row nav">
	<div class="col-xs-12 center-xs">
		<ul>
			<li><a href="traffic.html">Home</a></li>
			<li><a href="calendar.html">About</a></li>
			<li><a href="map_nick.html">Map</a></li>
		</ul>
  </div>
</div>

{% block content %}{% endblock %}

<div class="row footer">
	<div class="col-xs-12">&copy; Lincoln Outdoors 2017</div>
</div>

  <script src="/static/lightbox.js"></script>

</body>
</html>
